# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user-specific
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods / Carthage (unused, but ignored just in case)
Pods/
Carthage/Build/
